build/
dist/
*.egg*/
magnet-table/magnet-table.ini
*.pyc
*.pyc
MagnetApp/GUI_FileLoad.pyc
magnet-table/.idea/*.*
magnet-table/tmp/*.*
magnet-table/rf_sol_gui.py
magnet-table/src/pip-delete-this-directory.txt
.idea
SimulationFramework/Examples/S2EBunchPrePostCombined_v3.sdds
SimulationFramework/Examples/S2EBunchPrePostCombined_v2.sdds
SimulationFramework/Examples/S2EBunchPrePostCombined.astra
SAMM3.0/Examples
examples/notebooks/getting_started/
tests/CLARA/Basefiles/Base_250pC/CLA-S02-SIM-APER-01.astra
tests/CLARA/Basefiles/Base_250pC/CLA-S02-SIM-APER-01.gdf
tests/CLARA/Basefiles/Base_250pC/CLA-S02-SIM-APER-01.ocelot.npz
tests/CLARA/Basefiles/Base_250pC/CLA-S02-SIM-APER-01.sdds
*checkpoint.ipynb
*.pyc*
*Untitled*
docs/source/examples/notebooks/getting_started/*
docs/source/examples/notebooks/utility_functions/*
docs/source/examples/notebooks/changes.yaml
docs/source/examples/notebooks/params.yaml
