deepdiff>=5
h5py>=2.10
munch>=2.5
numpy>=2
tqdm>=4
PyQt5>=5.1
PyYAML>=5.3
mpl-axes-aligner>=1.1
lox>=0.11
fastKDE>=2.1.5
pydantic>=2.5.3
attrs>=23.2.0
ocelot-desy==25.06.0
scipy>=1.5
soliday.sdds
easygdf>=2.1.1
deap
pyqtgraph
numba
pyfftw
numexpr
